Práctica 2 - Limpieza de datos

In [2]:
import pandas as pd

#creamos el dataframe
df = pd.read_csv('China_Tech_HK.csv')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,fecha
0,SenseTime,20221230,2.25,2.25,2.18,2.22,2.18,0.04,1.83,91203225.0,202.109776,2022-12-30
1,Tencent,20221230,339.00,343.80,331.40,334.00,335.20,-1.20,-0.36,27211337.0,9169.263907,2022-12-30
2,Lenovo,20221230,6.50,6.50,6.38,6.41,6.39,0.02,0.31,14139750.0,91.076908,2022-12-30
3,Kuaishou,20221230,72.50,73.30,70.45,71.05,70.65,0.40,0.57,19282425.0,1381.517037,2022-12-30
4,Xiaomi,20221230,11.04,11.08,10.90,10.94,10.86,0.08,0.74,41295012.0,453.429677,2022-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
2701,JD.com,20220103,276.20,278.00,269.20,270.40,274.00,-3.60,-1.31,2526429.0,684.430545,2022-01-03
2702,Bilibili,20220103,360.00,369.40,355.20,358.00,358.60,-0.60,-0.17,780521.0,282.152275,2022-01-03
2703,Baidu,20220103,146.00,147.30,143.30,143.60,144.60,-1.00,-0.69,1175223.0,169.912791,2022-01-03
2704,Trip.com,20220103,193.50,193.80,190.40,190.50,190.80,-0.30,-0.16,64282.0,12.338608,2022-01-03
2705,Alibaba,20220103,117.00,117.50,114.00,115.00,118.90,-3.90,-3.28,22176946.0,2552.514931,2022-01-03

In [3]:
#cambiamos el formato de nuestros datos de fecha "trade_date"
df['fecha'] = pd.to_datetime(df['trade_date'], format='%Y%m%d')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount,fecha
0,SenseTime,20221230,2.25,2.25,2.18,2.22,2.18,0.04,1.83,91203225.0,202.109776,2022-12-30
1,Tencent,20221230,339.00,343.80,331.40,334.00,335.20,-1.20,-0.36,27211337.0,9169.263907,2022-12-30
2,Lenovo,20221230,6.50,6.50,6.38,6.41,6.39,0.02,0.31,14139750.0,91.076908,2022-12-30
3,Kuaishou,20221230,72.50,73.30,70.45,71.05,70.65,0.40,0.57,19282425.0,1381.517037,2022-12-30
4,Xiaomi,20221230,11.04,11.08,10.90,10.94,10.86,0.08,0.74,41295012.0,453.429677,2022-12-30
...,...,...,...,...,...,...,...,...,...,...,...,...
2701,JD.com,20220103,276.20,278.00,269.20,270.40,274.00,-3.60,-1.31,2526429.0,684.430545,2022-01-03
2702,Bilibili,20220103,360.00,369.40,355.20,358.00,358.60,-0.60,-0.17,780521.0,282.152275,2022-01-03
2703,Baidu,20220103,146.00,147.30,143.30,143.60,144.60,-1.00,-0.69,1175223.0,169.912791,2022-01-03
2704,Trip.com,20220103,193.50,193.80,190.40,190.50,190.80,-0.30,-0.16,64282.0,12.338608,2022-01-03
2705,Alibaba,20220103,117.00,117.50,114.00,115.00,118.90,-3.90,-3.28,22176946.0,2552.514931,2022-01-03

In [4]:

#encontrar todos los codigos unicos de cada empresa
codigos = df['ts_code'].unique()
print(codigos)

['SenseTime' 'Tencent' 'Lenovo' 'Kuaishou' 'Xiaomi' 'Meituan' 'JD.com'
 'Bilibili' 'Baidu' 'Trip.com' 'Alibaba']

In [5]:
#cambiamos los codigos por su empresa correspondiente
df.replace("00020.HK","SenseTime",inplace=True)
df.replace("00700.HK","Tencent",inplace=True)
df.replace("00992.HK","Lenovo",inplace=True)
df.replace("01024.HK","Kuaishou",inplace=True)
df.replace("01810.HK","Xiaomi",inplace=True)
df.replace("03690.HK","Meituan",inplace=True)
df.replace("09618.HK","JD.com",inplace=True)
df.replace("09626.HK","Bilibili",inplace=True)
df.replace("09888.HK","Baidu",inplace=True)
df.replace("09961.HK","Trip.com",inplace=True)
df.replace("09988.HK","Alibaba",inplace=True)
df['amount'] = df['amount'] /1000000

In [6]:
#guardamos los cambios y mostramos head
df.to_csv('China_Tech_HK.csv', index=False)
print(df.head())

     ts_code  trade_date    open    high     low   close  pre_close  change  \
0  SenseTime    20221230    2.25    2.25    2.18    2.22       2.18    0.04
1    Tencent    20221230  339.00  343.80  331.40  334.00     335.20   -1.20
2     Lenovo    20221230    6.50    6.50    6.38    6.41       6.39    0.02
3   Kuaishou    20221230   72.50   73.30   70.45   71.05      70.65    0.40
4     Xiaomi    20221230   11.04   11.08   10.90   10.94      10.86    0.08

   pct_chg         vol    amount      fecha
0     1.83  91203225.0  0.000202 2022-12-30
1    -0.36  27211337.0  0.009169 2022-12-30
2     0.31  14139750.0  0.000091 2022-12-30
3     0.57  19282425.0  0.001382 2022-12-30
4     0.74  41295012.0  0.000453 2022-12-30